.container {
    height: calc(100vh - 10px - 10vh); /* 100vh - 10px padding header - 30vh bottom */
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8f8f8;
}

.pageHero {
    height: calc(100vh - 50vh); /* 100vh - 10px padding header - 50vh bottom */
}

.headingWrap {
    line-height: 1;
}

.heading {
    font-family: var(--font);
    font-size: clamp(86px, 5vw, 92px);
    font-weight: 500;
    color: #000;
    text-align: center;
}

.subHeading {
    font-family: var(--font-body);
    font-size: calc(28px, 5vw, 32px);
    font-weight: 500;
    color: #000;
    text-align: center;
}

/* Media Query */
@media (max-width: 1280px) {
    .container {
        height: calc(100vh - 50vh);
    }

    .headingWrap .heading {
        font-size: clamp(48px, 5vw, 64px);
    }
}


@media (max-width: 1024px) {
    .headingWrap .heading {
        font-size: clamp(48px, 5vw, 64px);
    }
}

@media (max-width: 992px) {
    .headingWrap .heading {
        font-size: clamp(48px, 5vw, 64px);
    }
}

@media (max-width: 767px) {
    .headingWrap .heading {
        font-size: clamp(42px, 5vw, 48px) !important;
        width: 100%;
    }

    .headingWrap .subHeading {
        font-size: 20px;
    }
}

@media (max-width: 767px) { 
    .headingWrap .heading {
        font-size: clamp(28px, 5vw, 32px) !important;
    }

    .headingWrap .subHeading {
        font-size: 16px;
    }
}