* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --font: 'Cinzel', serif;
    --font-body: 'Montserrat', sans-serif;
    --font-body-poppins: 'Poppins', sans-serif;
}

/* Content One */

.contentOne {
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px 0;
    
    margin: 0 auto;
}

.columnWrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.heading, .text, .btn {
    font-family: var(--font-body);
    font-weight: 400;
}

.heading {
    font-size: clamp(32px, 2vw, 48px);
    text-align: center;
    color: rgb(0, 0, 0, 0.8);
    
    width: 600px;
    word-wrap: break-word;
}

.text {
    width: 250px;
    text-align: start;
    width: 450px;
    height: 100%;

    font-size: 16px;
    letter-spacing: 2px;
    line-height: 24px;
}

.btn {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #A0522D;
    cursor: pointer;
    border: none;
    background: none;
}

/* Content Two */
.contentTwo {
    height: calc(100vh - 20vh);
    width: 100%;
    background: #000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Video */
.center {
    color: #fff;
    font-family: var(--font-body);
    font-size: 32px;
}

/* Column Three */
.columnThree .text {
    width: 850px;
    min-width: 100%;
}

/* Image Gallery */
.imageGallery {
    background: #D7D2CB;
    height: 100%;
    padding: 20px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.discoverMore {
    padding: 60px 0;
}
