.hotelContainer {
   border: 1px solid red;
   position: relative;
   margin-top: 100px;
   height: 100vh;
}

.header h3 {
    font-family: var(--font-body-poppins);
    font-size: 24px;
}

.card {
    width: 427px;
    height: 330px;
    border: 1px solid red;
}