.roomsContainer {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roomsContainer span {
    font-family: var(--font-body);
    font-size: 20px;
}

.dropdownContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dropdownContent {
    font-family: var(--font-body);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    padding: 10px 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    width: 200px;
    text-align: left;
    border-radius: 8px;
    font-size: 15px;
    font-family: var(--font-body);
    font-size: 16px;
}

.arrow {
    float: right;
    width: 30px;
    height: 20px;
}

.dropdownContent {
    position: absolute;
    top: 100%; /* ✅ always opens downward */
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    z-index: 10;
    animation: fadeIn 0.15s ease-in;

    font-family: var(--font-body);
    font-size: 16px;
}

.option {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.option:hover {
    background: #f5f5f5;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
}

.roomsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(427px, auto));
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.roomsGrid.multi{
    justify-content: start;
}

.roomCard {
    position: relative;
    width: 427px;
    cursor: pointer;
}

.roomCard:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.roomCard .image img {
    width: 100%;
    height: 330px;
}

.roomCategory {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.roomCategory span {
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

/* Room Prefooter CSS */
.roomsPrefooter {
    border-top: 0.2px solid rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prefooterContent {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.rating::before {
    content: "★★★★★";
    color: #3952A0;
    font-size: 24px;
}

.roomsPrefooter .heading h2 {
    font-family: var(--font-body-poppins);
    font-weight: 400;
    font-size: clamp(24px, 2vw, 32px);
    color:rgba(0, 0, 0, 0.7);
}

.roomsPrefooter .heading h2::before {
    content: "“";
}

.roomsPrefooter .heading h2::after {
    content: "”";
}

.roomsPrefooter .subheading {
    width: 100%;
}

.roomsPrefooter .subheading h4 {
    font-family: var(--font-body-poppins);
    font-weight: 400;
    font-size: clamp(16px, 1.5vw, 20px);
    color: rgba(0, 0, 0, 0.7);
    line-height: 26px;
    text-align: center;
}

/* Media Query */
@media (max-width: 992px) {
    .roomsContainer {
        margin: 0 20px;
    }
    .roomsPrefooter {
        border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
    }

    .roomsGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .roomCard {
        width: 100%;
    }

}

@media (max-width: 576px) {
  .roomsGrid {
    grid-template-columns: 1fr;
  }
}