.container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 600px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.image img {
    width: 100%;
    height: 355px;
    object-fit: cover;
}

.title, .text, .btn {
    font-family: var(--font-body);
}

.title {
    font-size: 24px;
    font-weight: 400;
}

.text, .btn {
    letter-spacing: 2px;
    font-size: 16px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #A0522D;
}