.container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.card {
    width: 600px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.image img {
    width: 100%;
    height: 355px;
    object-fit: cover;
}

.title, .text, .btn {
    font-family: var(--font-body);
}

.title {
    font-size: 24px;
    font-weight: 400;
}

.text, .btn {
    letter-spacing: 2px;
    font-size: 16px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #A0522D;
}

@media (max-width: 767px) { 
    .image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .title {
        font-size: 18px;
    }

    .text {
        font-size: 12px;
    }
}

/* General smartphones */
@media (max-width: 500px) { 
    .image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}