.image {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .image {
        width: 100%;
        height: 400px;
    }
}

/* General smartphones */
@media (max-width: 500px) { 
    .image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: 1px solid red;
    }
}