.checkoutContainer {
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: calc(100vh - 40vh);
    border-radius: 10px;
    
    
    position: sticky;
    top: 30%;
    max-height: 500px;

    z-index: 100;
    right: 0;
    margin-top: 10px;
    margin-bottom: 50px;
}