.introduction {
    margin: 0 150px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.introduction .heading {
    font-size: clamp(24px, 2vw, 42px);
    text-align: center;
    color: rgb(0, 0, 0, 0.8);
    font-family: var(--font-body);
    font-weight: 400;
}

.introduction .text {
    font-family: var(--font-body);
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
}

/* Video */
.videoContainer {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    overflow: hidden;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer .text {
    color: #fff;
    font-size: 32px;
    font-family: var(--font-body);
    font-weight: 400;
}

/* Responsive */
@media (max-width: 992px) {
    .introduction {
        margin: 0 50px;
        padding: 20px 0;
    }

    .textContainer {
        width: 100%;
        padding: 0 20px;
        border: 1px solid red;
    }
}