.menuItems {
    margin: 0 150px;
    padding: 20px 0;
}

.menuNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    gap: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);

    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

}

.menuNav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.menu:hover {
    color: var(--color-primary);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.menu img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.menuText {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-body);
}

/* Heading */
.menuHeading {
    padding: 30px 0;
}

.heading {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-body);
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: flex-start;
    gap: 30px;
}

.card {
    border-radius: 10px;
    width: 280px;
    height: 400px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}

.cardContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardImage img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.cardTitle .title,
.cardPrice .price {
    font-size: 18px;
    font-family: var(--font-body);
    font-weight: 500;
}

.cardDescription .description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--font-body);
    padding: 10px 0;
}

/* Responsive */
@media (max-width: 1300px) {
    .menuItems {
        margin: 0 50px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        justify-content: flex-start;
        gap: 30px;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .menuItems {
        margin: 0 20px;
        padding: 20px 0;
    }

    .menu img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    .menuText {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
        font-family: var(--font-body);
    }
}

@media (max-width: 510px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}