.heading {
    font-family: var(--font-body);
    font-size: clamp(24px, 2vw, 32px);
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
}

@media (max-width: 767px) {
    .container {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .heading {
        font-size: clamp(20px, 2vw, 24px);
        font-weight: 400;
        margin: 30px 0;
    }
}