* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --font: 'Cinzel', serif;
    --font-body: 'Montserrat', sans-serif;
    --font-body-poppins: 'Poppins', sans-serif;
}

.heading {
    font-family: var(--font-body);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .heading {
        font-size: 24px;
        font-weight: 400;
    }

    .cardContainer {
        margin: 0 20px;
    }
}