.container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.card {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 600px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}

.textWrap {
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.title, .text {
    font-family: var(--font-body);
}

.title {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
}

.text {
    letter-spacing: 2px;
    font-size: clamp(12px, 2vw, 14px);
}

@media (max-width: 767px) { 
    .image img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    .title {
        font-size: clamp(14px, 2vw, 18px);
    }

    .text {
        font-size: clamp(10px, 2vw, 12px);
    }
}

/* General smartphones */
@media (max-width: 500px) { 
    .image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}