.search {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    cursor: pointer;
    outline: none;
    width: fit-content;
    height: 50px;
    font-size: 16px;
    font-family: var(--font-body-poppins);
    padding: 10px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
}

.dates,
.guests {
    position: relative;
    z-index: 9999;
}

.guests input[type="text"] {
    width: 150px;
}

.btnSearch {
    background: #343a40;
    color: #fff;
    outline: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-body-poppins);
    font-weight: 600;
    border: none;
} 
