.prefooter {
    padding: 100px 0;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 1300px;
    margin: 0 auto;
}

.image img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.heading, .text, .btn {
    font-family: var(--font-body);
    font-weight: 500;
}

.heading {
    font-size: 24px;
    line-height: 32px;
    color: rgb(0, 0, 0, 0.75);
}

.text {
    line-height: 24px;
    font-weight: 400;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    width: 250px;
}

.btn {
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    background: #fff;

    border: 1px solid rgb(0, 0, 0, 0.2);
}

.btn:hover {
    background: #000;
    color: #fff;
    transition: background 0.4s ease, transform 0.3s ease;
}

/* Media Query */
@media (max-width: 1380px) {
    .wrap {
        width: 100%;
        justify-content: space-around;
        padding: 0 20px;
    }

    .image img {
        width: 550px;
        height: 300px;
    }
}

@media (max-width: 992px) {
    .prefooter {
        padding: 5em 0;
    }

    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
    }

    .image img {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 767px) {
    .prefooter {
        width: 100%;
        padding: 0 !important;
        border: 0;
    }

    .wrap {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 2em;
    }

    .image img {
        width: 100%;
        height: 200px;
    }

    .heading {
        font-size: 18px;
    }

    .text {
        font-size: 14px;
    }
}

@media (max-width: 668px) {
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .image img {
        width: 100%;
    }

    .col {
        margin-top: 20px;
        text-align: center;
    }
}
