.instagram {
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.heading {
    font-size: clamp(24px, 2vw, 32px);
    font-family: var(--font-body);
    font-weight: normal;
    color: rgb(0, 0, 0, 0.8);
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
}

.instagramGallery {
    margin: 0 20px;
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;   /* square ratio */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 3px;
}

.instagramGallery img:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
    cursor: pointer;
}

@media (max-width: 500px) {
    .heading {
        font-size: clamp(18px, 2vw, 24px);
    }
}