.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 50px;
    background: #fff;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* subtle shadow */
}

.navContainer .navBrand {
    font-size: 18px;
    font-family: var(--font-body-poppins);
    cursor: pointer;
}

.btnLogin {
    width: 150px;
    height: 50px;
    font-family: var(--font-body-poppins);
    font-size: 16px;
    background: #fff;
    border: 0.20px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btnLogin:hover {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: 0.25px solid #fff;
}